# Names for your sites. eg:
# SITES=mydomain.com myblog.com mygit.github.com
SITES=default

# By default, include all .sl and .html files
default_sources := $(shell echo `find . -iname '*.sl' -o -iname '*.html' | cut -c 3- | grep -v default/`)
# Also include all files under images/
default_sources += images/*

# Define the make rule for the site:
define default_rule =
	@mkdir -p $$(dirname ${2})
	@shsite2 parse ${1} template.html | shsite2 parse config.sl > ${2}
endef

# Make a list and a rule for every site:
# mydomain.com_sources := index.html dir/page.html images/*
# mydomain.com_rule = @shsite2 parse ${1} template.html > ${2}
