# Names for your sites. eg:
# SITES=mydomain.com myblog.com mygit.github.com
SITES=default

# _sources are files to be parsed.
# By default, include all .sl
default_sources := $(shell echo `find . -iname '*.sl' | cut -c 3- `)
# _files are files to be included verbatim
# By default, include all .html and .png files
# (recursive inclusions are handled in Makefile but be careful)
default_files := $(shell echo `find . -iname '*.html' -o -iname '*.png' | cut -c 3- `)
# Also include all files under images/
default_files += $(wildcard images/*)

# If there are common dependencies to the sources (eg. the template file), list
# them here
default_depends := template.html

# Define the make rule for the site:
define default_rule =
	@echo "Building ${2}"
	@mkdir -p $$(dirname ${2})
	@shsite2 parse ${1} template.html | shsite2 parse config.sl > ${2}
endef

# Make a list and a rule for every site:
# mydomain.com_sources := index.html dir/page.html images/*
# mydomain.com_rule = @shsite2 parse ${1} template.html > ${2}
